@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap');

.body_web {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  background: #444444e2;
}
:root{
  --theme-color: #131313;
  --themeSub-color: #ffd258;
}
html {
  scroll-behavior: smooth;
}

button:focus {
  outline: none;
}

.logo {
  width: 100%;
}

.home_logo {
  display: block;
}

.menu {
  width: 100%;
}

.imagebox {
  width: 100%;
  border-radius: 5px;
}

.menu_page {
  padding: 0px 2px 2px 2px;
}

.header {
  background-color: var(--theme-color);
  display: flex;
  color: var(--themeSub-color);
  padding: 13px 25px 13px 25px;
  align-items: center;
  justify-content: space-between;
}

.chaistation_header h1 a {
  text-decoration: none;
  display: inline;
}

.chaistation_header {
  padding-top: 6px;
  max-width: 35%;
  padding: 0px;
  margin: 5px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

ul {
  display: inline;
}

nav ul li {
  display: inline;
  text-align: center;

}

.navbar_option {
  background-color: var(--themeSub-color);
  padding: 15px 30px 15px 30px;
  border-radius: 3px;
  color: var(--theme-color);
  text-decoration: none;
  font-weight: 800;
  margin: 15px;
}

.navbar_option:hover {
  background-color: #b89d32;
}

.num_col {
  color: #ffd258;
}

.dropdown_call {
  background-color: var(--theme-color);
}

.menu_icon {
  display: none;
}

.dropdown_menu {
  width: 100%;
  display: none;
}

a {
  text-decoration: none;
}

.navbar_ul_reactive {
  text-align: center;
  z-index: 3;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
  background-color: var(--theme-color);
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.navbar_ul_reactive a {
  text-decoration: none;
  color: #000;
}

h2 {
  color: #333;
}

.social_icons {

  font-size: 30px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

#insta_icon,
#map_icon {
  color: var(--themeSub-color);
}

.menuwrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navbar_ul {
  list-style-type: none;
  padding: 0;
}

/* #scrollToTopBtn{
 display: none;
} */

.call_btn {
  display: none;
  margin: 0px 18px;
  border-radius: 8px;
  width: 55px;
  height: 34px;
  color: var(--themeSub-color);
  background-color: var(--theme-color);
  border: solid 2px #7c7c7c49;
}

.call_menu_wrapper {
  display: none;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  padding: 2px 2px 2px 2px;
}

.searchTerm {
  background-color: var(--theme-color);
  width: 100%;
  border: 3px solid #ffd25893;
  border-right: none;
  padding: 5px 15px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color:  #f9c84394;
}

.searchTerm:focus {
  border: 3px solid #ffd258ab;
  border-right: none;
  color: white;
}

.filterBtn {
  width: 80px;
  border: 3px solid #ffd25893;
  background: var(--theme-color);
  text-align: center;
  color: var(--themeSub-color);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

@media (max-width: 700px) {
  .call_btn {
    display: block;
  }

}

@media (max-width: 992px) {
  nav {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu_icon {
    display: inline;
    font-size: 25px;
  }

  .menuwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .chaistation_header {
    max-width: 200px;
  }

  .call_menu_wrapper {
    display: flex;
    justify-content: space-between;
  }
  #scrollToTopBtn{
    display: block;
    width: 100%;
    background-color: #ffd257;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none ;
    color: var(--theme-color);
    text-align: center;
    border-radius: 5px;
    font-weight: 800;
    border: 3px solid #131313ab;
   }
   .scrolltop{
    margin: 2px 2px 4px 2px;
   }
}

@media (max-width: 1000px) {
  nav {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menuwrapper {
    display: block;
  }

  .menu_icon {
    display: inline;
    font-size: 25px;
  }

  .chaistation_header {
    max-width: 200px;
  }
}