@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap');

.body_web {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  background: #444444e2;
}

html {
  scroll-behavior: smooth;
}

button:focus {
  outline: none;
}

.logo {
  width: 100%;
}

.home_logo {
  display: block;
}

.menu {
  width: 100%;
}

.imagebox {
  width: 100%;
  border-radius: 5px;
}

.menu_page {
  padding: 2px 2px 0px 2px
}

.header {
  background-color: #131313;
  display: flex;
  color: #ffd258;
  padding: 13px 25px 13px 25px;
  align-items: center;
  justify-content: space-between;
}

.chaistation_header h1 a {
  text-decoration: none;
  display: inline;
}

.chaistation_header {
  padding-top: 6px;
  max-width: 35%;
  padding: 0px;
  margin: 5px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

ul {
  display: inline;
}

nav ul li {
  display: inline;
  text-align: center;

}

.navbar_option {
  background-color: #ffd258;
  padding: 15px 30px 15px 30px;
  border-radius: 3px;
  color: #131313;
  text-decoration: none;
  font-weight: 800;
  margin: 15px;
}

.navbar_option:hover {
  background-color: #b89d32;
}

.num_col {
  color: #ffd258;
}

.dropdown_call {
  background-color: #131313;
}

.menu_icon {
  display: none;
}

.dropdown_menu {
  width: 100%;
  display: none;
}

a {
  text-decoration: none;
}

.navbar_ul_reactive {
  text-align: center;
  z-index: 3;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
  background-color: #131313;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.navbar_ul_reactive a {
  text-decoration: none;
  color: #000;
}

h2 {
  color: #333;
}

.social_icons {

  font-size: 30px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

#insta_icon,
#map_icon {
  color: #ffd258;
}

.menuwrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navbar_ul {
  list-style-type: none;
  padding: 0;
}

.call_btn {
  display: none;
  margin: 0px 18px;
  border-radius: 8px;
  width: 55px;
  height: 35px;
  color: #ffd258;
  background-color: #212121e6;
  border: solid 2px #7c7c7c99;
}

.call_menu_wrapper {
  display: none;
}

@media (max-width: 700px) {
  .call_btn {
    display: block;
  }

}

@media (max-width: 992px) {
  nav {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu_icon {
    display: inline;
    font-size: 25px;
  }

  .menuwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .chaistation_header {
    max-width: 200px;
  }

  .call_menu_wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 1000px) {
  nav {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menuwrapper {
    display: block;
  }

  .menu_icon {
    display: inline;
    font-size: 25px;
  }

  .chaistation_header {
    max-width: 200px;
  }
}